@namespace Enms.Client.Shared.Layout
@using Enms.Business.Models.Composite
@using Enms.Client.Shared.Streaming
@using Enms.Client.State
@using MudBlazor
@inherits Enms.Client.Base.EnmsLayoutComponentBase

<main>
  <MudThemeProvider Theme="_theme"/>
  <MudPopoverProvider/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  <MudBreakpointProvider>
    <Loading
      T="MaybeRepresentingUserModel"
      LoadAsync="LoadAsync">
      <Found Context="maybeRepresentingUser">
        <CascadingValue Value="new UserState(maybeRepresentingUser.User)">
          <UserLayout>
            <Body>
            @if (maybeRepresentingUser.MaybeRepresentative is { } representative)
            {
              <CascadingValue Value="new RepresentativeState(representative)">
                <RepresentativeLayout>
                  <Body>
                  @Body
                  </Body>
                </RepresentativeLayout>
              </CascadingValue>
            }
            else
            {
              @Body
            }
            </Body>
          </UserLayout>
        </CascadingValue>
      </Found>
    </Loading>
  </MudBreakpointProvider>
</main>
