@using Enms.Client.Base
@using Enms.Client.Shared.Streaming
@using Enms.Client.State
@using Enms.Business.Models
@using Enms.Business.Models.Composite
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@namespace Enms.Client.Shared.Layout

@inherits EnmsLayoutComponentBase

@using Theme = Theme

<main>
  <MudThemeProvider Theme="_theme"/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  <Loading
    T="MaybeRepresentingUserModel"
    LoadAsync="@(() => ReadMaybeRepresentingUser())">
    <Found Context="meybeRepresentingUser">
      <CascadingValue Value="meybeRepresentingUser.User">
        <UserLayout>
          <Body>
            <Loading
              T="RepresentativeModel"
              Load="@(() => meybeRepresentingUser.Representative)">
              <Found Context="representative">
                <CascadingValue Value="representative">
                  <RepresentativeLayout>
                    <Body>
                      @Body
                    </Body>
                  </RepresentativeLayout>
                </CascadingValue>
              </Found>
              <NotFound>
                @Body
              </NotFound>
            </Loading>
          </Body>
        </UserLayout>
      </CascadingValue>
    </Found>
  </Loading>
</main>

@code {

  private readonly Theme _theme = new();
}
