@namespace Enms.Client.Shared.Layout
@using Enms.Business.Models.Composite
@using Enms.Client.Shared.Streaming
@using Enms.Client.State
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@inherits Enms.Client.Base.EnmsLayoutComponentBase

<HeadContent>
  <title>HelbEx</title>
</HeadContent>

<CascadingValue Value="ThemeState">
  <CascadingValue Value="LayoutState">
    <MudThemeProvider Theme="ThemeState.Theme"/>
    <MudPopoverProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    <MudBreakpointProvider>
      <Loading
        T="UserState"
        LoadAsync="LoadAsync">
        <Found Context="userState">
          <CascadingValue Value="userState">
            <MudLayout>
              <UserToolbar />
              @if (userState.User.MaybeRepresentative is { })
              {
                <RepresentativeToolbar />
              }

              <LocalizationDrawer />
              <UserDrawer />
              @if (userState.User.MaybeRepresentative is { })
              {
                <NavigationDrawer />
              }

              <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudContainer MaxWidth="MaxWidth.Large" Class="mt-8">
                  @Body
                </MudContainer>
              </MudHidden>
              <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
                  @Body
                </MudContainer>
              </MudHidden>
            </MudLayout>
          </CascadingValue>
        </Found>
      </Loading>
    </MudBreakpointProvider>
  </CascadingValue>
</CascadingValue>
