@namespace Enms.Client.Shared.Layout

@inherits Enms.Client.Base.EnmsLayoutComponentBase
@using Enms.Business.Models
@using Enms.Business.Models.Composite
@using Enms.Client.Shared.Streaming
@using MudBlazor
@using Theme = Theme

<main>
  <MudThemeProvider Theme="_theme"/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  <Loading
    T="MaybeRepresentingUserModel"
    LoadAsync="@(() => ReadMaybeRepresentingUser())">
    <Found Context="maybeRepresentingUser">
      <CascadingValue Value="maybeRepresentingUser.User">
        <UserLayout>
          <Body>
          <Loading
            T="RepresentativeModel"
            Load="@(() => maybeRepresentingUser.Representative)">
            <Found Context="representative">
              <CascadingValue Value="representative">
                <RepresentativeLayout>
                  <Body>
                  @Body
                  </Body>
                </RepresentativeLayout>
              </CascadingValue>
            </Found>
            <NotFound>
              @Body
            </NotFound>
          </Loading>
          </Body>
        </UserLayout>
      </CascadingValue>
    </Found>
  </Loading>
</main>

@code {

  private readonly Theme _theme = new();
}
