@using Enms.Client.Base
@using Enms.Client.Shared.Streaming
@using Enms.Client.State
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@namespace Enms.Client.Shared.Layout

@inherits EnmsLayoutComponentBase

@using Theme = Theme

<main>
  <MudThemeProvider Theme="_theme"/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  <Loading T="UserState" State="_userState">
    <Found Context="user">
      <CascadingValue Value="user">
        <UserLayout>
          <Body>
          <Loading T="RepresentativeState" State="_representativeState">
            <Found Context="representative">
              <CascadingValue Value="representative">
                <RepresentativeLayout>
                  <Body>
                    @Body
                  </Body>
                </RepresentativeLayout>
              </CascadingValue>
            </Found>
            <NotFound>
              @Body
            </NotFound>
          </Loading>
          </Body>
        </UserLayout>
      </CascadingValue>
    </Found>
  </Loading>
</main>

@code {

  private readonly Theme _theme = new();
}
