@namespace Enms.Client.Shared.Layout

@inherits Enms.Client.Base.EnmsLayoutComponentBase
@using Enms.Business.Models.Composite
@using Enms.Client.Shared.Streaming
@using MudBlazor
@using Theme = Theme

<main>
  <MudThemeProvider Theme="_theme"/>
  @* FIXME: multiple popovers detected ??? *@
  @* <MudPopoverProvider/> *@
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  <MudBreakpointProvider>
    <Loading
      T="MaybeRepresentingUserModel"
      LoadAsync="LoadAsync">
      <Found Context="maybeRepresentingUser">
        <CascadingValue Value="maybeRepresentingUser.User">
          <UserLayout>
            <Body>
            @if (maybeRepresentingUser.MaybeRepresentative is { } representative)
            {
              <CascadingValue Value="representative">
                <RepresentativeLayout>
                  <Body>
                  @Body
                  </Body>
                </RepresentativeLayout>
              </CascadingValue>
            }
            else
            {
              @Body
            }
            </Body>
          </UserLayout>
        </CascadingValue>
      </Found>
    </Loading>
  </MudBreakpointProvider>
</main>
