@namespace Enms.Client.Shared.Layout
@using Enms.Business.Models.Composite
@using Enms.Client.Shared.Streaming
@using Enms.Client.State
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@inherits Enms.Client.Base.EnmsLayoutComponentBase

<HeadContent>
  <title>HelbEx</title>
</HeadContent>

<main>
  <MudThemeProvider Theme="_theme"/>
  <MudPopoverProvider/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  <MudBreakpointProvider>
    <Loading
      T="UserState"
      LoadAsync="LoadAsync">
      <Found Context="userState">
        <CascadingValue Value="userState">
          <UserLayout>
            <Body>
            @if (userState.User.MaybeRepresentative is { } representative)
            {
              <CascadingValue Value="new RepresentativeState(representative)">
                <RepresentativeLayout>
                  <Body>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                      <MudContainer MaxWidth="MaxWidth.Large" Class="mt-8">
                        @Body
                      </MudContainer>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.MdAndUp">
                      <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
                        @Body
                      </MudContainer>
                    </MudHidden>
                  </Body>
                </RepresentativeLayout>
              </CascadingValue>
            }
            else
            {
              <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudContainer MaxWidth="MaxWidth.Large" Class="mt-8">
                  @Body
                </MudContainer>
              </MudHidden>
              <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
                  @Body
                </MudContainer>
              </MudHidden>
            }
            </Body>
          </UserLayout>
        </CascadingValue>
      </Found>
    </Loading>
  </MudBreakpointProvider>
</main>
