@page "/account"

@namespace Enms.Client.Pages

@attribute [Navigation(
  RouteValue = "account",
  IsVisible = false
)]
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Enms.Business.Models.Composite
@using Enms.Client.Shared.Models
@using Enms.Client.State
@using MudBlazor
@inherits Enms.Client.Base.EnmsOwningComponentBase

<MudText Typo="Typo.h3">
  @Translate("Account")
</MudText>
<MudDivider/>
<div class="mt-4">
  <MaybeRepresentingUserDetails Model="@UserState.User"/>
</div>

@code {
  [CascadingParameter]
  public UserState UserState { get; set; } = default!;
}
