@page "/events"

@namespace Enms.Client.Pages

@attribute [Navigation(
  Title = "Events",
  RouteValue = "events",
  Allows = [RoleModel.OperatorRepresentative],
  Order = -80,
  Icon = Icons.Material.Filled.Event
)]
@attribute [Authorize]
@using Enms.Business.Models.Base
@using Enms.Business.Models.Enums
@using Enms.Client.Shared.Models
@using Enms.Client.Shared.Streaming
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@inherits Enms.Client.Base.EnmsOwningComponentBase

<MudText Typo="Typo.h5" Class="mb-6">
  @Translate("Events")
</MudText>
<MudDivider Class="mb-8" />

<Paging T="EventModel">
  <Summary Context="e">
    @{
      var href = $"event/{e.Id}";

      <MudLink
        Href="@href"
        Underline="Underline.Hover"
        Color="Color.Dark">
        <div class="pt-4 pb-2">
          <EventSummary Model="@e"/>
        </div>
      </MudLink>
      <MudDivider />
    }
  </Summary>
</Paging>
