@page "/"

@namespace Enms.Client.Pages

@attribute [Navigation(Title = "Dashboard")]
@attribute [Authorize]
@using Enms.Client.State
@using Microsoft.AspNetCore.Authorization
@inherits Enms.Client.Base.EnmsComponentBase

@if (user is null)
{
  return;
}

<p>Welcome, @(user.User.UserName)!</p>

@code {

  [CascadingParameter]
  public UserState user { get; set; } = default!;

}
