@page "/feeders"

@namespace Enms.Client.Pages

@attribute [Navigation(
  Title = "Feeders",
  RouteValue = "feeders",
  Icon = Icons.Material.Filled.ElectricBolt,
  Order = 90
)]
@attribute [Authorize]
@using Enms.Business.Models
@using Enms.Client.Shared.Models
@using Enms.Client.Shared.Streaming
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@inherits Enms.Client.Base.EnmsOwningComponentBase

<MudText Typo="Typo.h5" Class="mb-6">
  @Translate("Lines")
</MudText>
<MudDivider Class="mb-8" />

<Paging T="EgaugeLineModel">
  <Summary Context="line">
    @{
      var href = $"feeder/{line.Id}";

      <MudLink
        Href="@href"
        Underline="Underline.Hover"
        Color="Color.Dark">
        <div class="pt-4 pb-2">
          <EgaugeLineSummary Model="@line"/>
        </div>
      </MudLink>
      <MudDivider />
    }
  </Summary>
</Paging>

<MudFab
  Href="feeder"
  Size="Size.Medium"
  Color="Color.Tertiary"
  StartIcon="@Icons.Material.Filled.Add"
  Class="absolute mx-8 my-8"
  Style="bottom: 0; right: 0;" />
