@page "/meters"

@namespace Enms.Client.Pages

@using Enms.Business.Models.Enums
@attribute [Navigation(
  Title = "Meters",
  RouteValue = "meters",
  Icon = Icons.Material.Filled.ElectricMeter,
  Allows = [RoleModel.OperatorRepresentative],
  Order = 80
)]
@attribute [Authorize]
@using Enms.Business.Models
@using Enms.Client.Shared.Models
@using Enms.Client.Shared.Streaming
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@inherits Enms.Client.Base.EnmsOwningComponentBase

<MudText Typo="Typo.h5" Class="mb-6">
  @Translate("Meters")
</MudText>
<MudDivider />

<Paging T="EgaugeMeterModel">
  <Summary Context="meter">
    @{
      var href = $"meter/{meter.Id}";

      <MudLink
        Href="@href"
        Underline="Underline.Hover"
        Color="Color.Dark">
        <div class="pt-4 pb-2">
          <EgaugeMeterSummary Model="@meter"/>
        </div>
      </MudLink>
      <MudDivider />
    }
  </Summary>
</Paging>

<MudFab
  Href="meter"
  Size="Size.Medium"
  Color="Color.Tertiary"
  StartIcon="@Icons.Material.Filled.Add"
  Class="absolute mx-8 my-8"
  Style="bottom: 0; right: 0;" />
