@page "/network-users"

@namespace Enms.Client.Pages

@using Enms.Business.Models
@using Enms.Business.Models.Enums
@attribute [Navigation(
  Title = "Network users",
  RouteValue = "network-users",
  Allows = [RoleModel.OperatorRepresentative],
  Icon = Icons.Material.Filled.Person
)]
@attribute [Authorize]
@using Enms.Client.Shared.Models
@using Enms.Client.Shared.Streaming
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@inherits Enms.Client.Base.EnmsOwningComponentBase

<MudText Typo="Typo.h5" Class="mb-6">
  @Translate("Network users")
</MudText>
<MudDivider Class="mb-8" />

<Paging T="NetworkUserModel">
  <Summary Context="networkUser">
    @{
      var href = $"network-user/{networkUser.Id}";

      <MudLink
        Href="@href"
        Underline="Underline.Hover"
        Color="Color.Dark">
        <div class="pt-4 pb-2">
          <NetworkUserSummary Model="@networkUser"/>
        </div>
      </MudLink>
      <MudDivider />
    }
  </Summary>
</Paging>

<MudFab
  Href="network-user"
  Size="Size.Medium"
  Color="Color.Tertiary"
  StartIcon="@Icons.Material.Filled.Add"
  Class="absolute mx-8 my-8"
  Style="bottom: 0; right: 0;" />
