@page "/validators"

@namespace Enms.Client.Pages

@using Enms.Business.Models.Enums
@attribute [Navigation(
  Title = "Validators",
  RouteValue = "validators",
  Allows = [RoleModel.OperatorRepresentative],
  Icon = Icons.Material.Filled.Check,
  Order = 100
)]
@attribute [Authorize]
@using Enms.Business.Models
@using Enms.Client.Shared.Models
@using Enms.Client.Shared.Streaming
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@inherits Enms.Client.Base.EnmsOwningComponentBase

<MudText Typo="Typo.h5" Class="mb-6">
  @Translate("Validators")
</MudText>
<MudDivider />

<Paging T="EgaugeMeasurementValidatorModel">
  <Summary Context="validator">
    @{
      var href = $"validator/{validator.Id}";

      <MudLink
        Href="@href"
        Underline="Underline.Hover"
        Color="Color.Dark">
        <div class="pt-4 pb-2">
          <EgaugeMeasurementValidatorSummary Model="@validator"/>
        </div>
      </MudLink>
      <MudDivider />
    }
  </Summary>
</Paging>

<MudFab
  Href="validator"
  Size="Size.Medium"
  Color="Color.Tertiary"
  StartIcon="@Icons.Material.Filled.Add"
  Class="absolute mx-8 my-8"
  Style="bottom: 0; right: 0;" />
